<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckItOff</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/6f3103b13c.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'images/grad logo.png' %}" alt="">
                    <h2>Check-It-<span class="danger">OFF</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>

                <!-- <a href="/pomodoro/pomodoro.html" class="">
                    <span class="material-symbols-sharp">
                        timer
                    </span>
                    <h3>Pomodoro</h3>
                </a> -->
                <a href="#" class="">
                    <span class="material-symbols-sharp">
                        robot_2
                    </span>
                    <h3>Chatbot</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Profile</h3>
                </a>
                <!-- <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a> -->
                <a href="#">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Log Out</h3>
                </a>
            </div>
        </aside>


        <main>

            <h1>Dashboard</h1>
            <div class="date">
                <p id="date-display"></p>
            </div>

            <div class="cards">
                <div class="task-card urgent">

                    <div class="completed hidden">
                        <h3>Urgent Tasks Completed</h3>
                        <span class="material-symbols-sharp">
                            done_all
                        </span>
                    </div>

                    <div class="title">
                        <div class="text">
                            <span class="material-symbols-sharp">
                                warning
                            </span>
                            <h3>Urgent Tasks</h3>
                        </div>
                        <div class="points">
                            <img src="{% static 'images/coin.png' %}" alt="coins">
                            <p>35</p>
                        </div>
                    </div>

                    <div class="tasks">
                        <ul id="" class="task-list urgent">
                            <li data-last-click-time="">Study Calculus</li>
                            <li data-last-click-time="">Eat KFC</li>
                            <li data-last-click-time="">Sleep</li>
                        </ul>

                        <div class="progress-ring">
                            <svg class="progress-ring__circle" width="120" height="120">
                                <circle class="progress-ring__background" stroke="#e6e6e6" stroke-width="8"
                                    fill="transparent" r="52" cx="60" cy="60" />
                                <circle class="progress-ring__progress" stroke="var(--color-primary)" stroke-width="8"
                                    fill="transparent" r="52" cx="60" cy="60" />
                            </svg>
                            <div class="progress-ring__percentage">0%</div>
                        </div>

                        <button class="btn hide-tasks-button">
                            Hide Tasks
                        </button>
                    </div>

                </div>

                <div class="task-card medium">


                    <div class="completed hidden">
                        <h3>Medium Tasks Completed</h3>
                        <span class="material-symbols-sharp">
                            done_all
                        </span>
                    </div>

                    <div class="title">
                        <div class="text">
                            <span class="material-symbols-sharp">
                                warning
                            </span>
                            <h3>Medium Tasks</h3>
                        </div>
                        <div class="points">
                            <img src="{% static 'images/coin.png' %}" alt="coins">
                            <p>25</p>
                        </div>
                    </div>

                    <div class="tasks">
                        <ul id="" class="task-list medium">
                            <li data-last-click-time="">Study Calculus</li>
                            <li data-last-click-time="">Eat KFC</li>
                            <li data-last-click-time="">Sleep</li>
                        </ul>

                        <div class="progress-ring">
                            <svg class="progress-ring__circle" width="120" height="120">
                                <circle class="progress-ring__background" stroke="#e6e6e6" stroke-width="8"
                                    fill="transparent" r="52" cx="60" cy="60" />
                                <circle class="progress-ring__progress" stroke="var(--color-primary)" stroke-width="8"
                                    fill="transparent" r="52" cx="60" cy="60" />
                            </svg>
                            <div class="progress-ring__percentage">0%</div>
                        </div>

                        <button class="btn hide-tasks-button">
                            Hide Tasks
                        </button>


                    </div>
                </div>

                <div class="task-card low">
                    <div class="completed hidden">
                        <h3>Low Risk Tasks Completed</h3>
                        <span class="material-symbols-sharp">
                            done_all
                        </span>
                    </div>

                    <div class="title">
                        <div class="text">
                            <span class="material-symbols-sharp">
                                warning
                            </span>
                            <h3>Low Risk Tasks</h3>
                        </div>
                        <div class="points">
                            <img src="{% static 'images/coin.png' %}" alt="coins">
                            <p>15</p>
                        </div>
                    </div>

                    <div class="tasks">
                        <ul id="" class="task-list low">
                            <li data-last-click-time="">Study Calculus</li>
                            <li data-last-click-time="">Eat KFC</li>
                            <li data-last-click-time="">Sleep</li>
                        </ul>

                        <div class="progress-ring">
                            <svg class="progress-ring__circle" width="120" height="120">
                                <circle class="progress-ring__background" stroke="#e6e6e6" stroke-width="8"
                                    fill="transparent" r="52" cx="60" cy="60" />
                                <circle class="progress-ring__progress" stroke="var(--color-primary)" stroke-width="8"
                                    fill="transparent" r="52" cx="60" cy="60" />
                            </svg>
                            <div class="progress-ring__percentage">0%</div>
                        </div>

                        <button class="btn hide-tasks-button">
                            Hide Tasks
                        </button>
                    </div>
                </div>
            </div>

            <div class="main-bottom">
                <div class="current-task-card">

                    <h3>Current Task</h3>

                    <div class="current-task">
                        <h3 id="current-task-name">x</h3>
                        <h3 id="elapsed-time">
                            <span>0</span> : <span>0</span> : <span>0</span>
                        </h3>
                    </div>

                    <button id="finish-task-btn" class="btn">
                        Finish Task
                    </button>
                </div>

                <div class="pomodoro-card">
                    <!-- <h2>Pomodoro</h2> -->

                    <div class="timer">
                        <div class="circle">
                            <div class="time">
                                <p id="minutes"></p>
                                <p>:</p>
                                <p id="seconds"></p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-and-controls">
                        <div class="panel">
                            <p id="work">work</p>
                            <p id="break">break</p>
                        </div>

                        <div class="controls">
                            <button id="start" onclick="start()">
                                <span class="material-symbols-sharp">
                                    play_arrow
                                </span>
                            </button>
                            <button id="pause" onclick="pause()">
                                <span class="material-symbols-sharp">
                                    pause
                                </span>
                            </button>
                            <button id="reset" onclick="start()">
                                <span class="material-symbols-sharp">
                                    replay
                                </span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>


        </main>

        <div class="right">

            <div class="top">
                <!-- <button id="menu-btn">
                    <span class="material-symbols-sharp">
                        menu
                    </span>
                </button> -->

                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">
                        light_mode
                    </span>
                    <span class="material-symbols-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="profile">
                    <div class="profile-photo">
                        <img src="{% static 'images/kassaby profile pic.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <p>Hey, <b>Ismail</b></p>
                    </div>

                    <div class="points">
                        <img src="{% static 'images/coin.png' %}" alt="coins">
                        <p>100</p>
                    </div>
                </div>
            </div>

            <div class="games">
                <div class="games-title">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            extension
                        </span>
                    </div>
                    <h2>Games</h2>
                </div>

                <div class="game">

                    <div class="icon">
                        <span class="material-symbols-sharp">
                            neurology
                        </span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Memory Game</h3>
                            <div class="score">
                                <h5 class="success">High Score</h5>
                                <h3>25</h3>
                            </div>
                        </div>

                        <div class="points-needed">
                            <div class="points">
                                <img src="{% static 'images/coin.png' %}" alt="coins">
                                <p>25</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="game">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            neurology
                        </span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Memory Game</h3>
                            <div class="score">
                                <h5 class="success">High Score</h5>
                                <h3>10</h3>
                            </div>
                        </div>

                        <div class="points-needed">
                            <div class="points">
                                <img src="{% static 'images/coin.png' %}" alt="coins">
                                <p>30</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="game">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            neurology
                        </span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Memory Game</h3>
                            <div class="score">
                                <h5 class="success">High Score</h5>
                                <h3>100</h3>
                            </div>
                        </div>

                        <div class="points-needed">
                            <div class="points">
                                <img src="{% static 'images/coin.png' %}" alt="coins">
                                <p>45</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="game">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            neurology
                        </span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Memory Game</h3>
                            <div class="score">
                                <h5 class="success">High Score</h5>
                                <h3>100</h3>
                            </div>
                        </div>

                        <div class="points-needed">
                            <div class="points">
                                <img src="{% static 'images/coin.png' %}"  alt="coins">
                                <p>50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <script src="{% static 'js/combo.js' %}"></script>
        <script src="{% static 'js/pomodoro.js' %}"></script>

        <script>
            var today = new Date();

            // Format the date
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var yyyy = today.getFullYear();

            // Concatenate the formatted date
            var todayFormatted = dd + '/' + mm + '/' + yyyy;

            // Display the date on the page
            document.getElementById('date-display').textContent = todayFormatted;
        </script>

</body>

</html>